html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block pagetitle
    script(src="jquery/jquery.min.js")
    script(src="bootstrap/bootstrap.bundle.min.js")
    block scripts
    block links
  body
    block navigation
    block content